body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #191919;
  color: white;
  overflow-x: hidden;
}

ol, ul {
  padding-left: 30px;
}

.spacer {
  flex: 1;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: var(--bg, #fff);
  color: white;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.game-info {
  margin-left: 20px;
  flex: 1; /* Ensure the board stays centered */
}

.game-history {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 20px; /* Ensure the board stays centered */
}

.history-container {
  /* Prevent the history from affecting the positions of other game components */
  height: 0;
  overflow: visible;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history-element {
  border: none;
  background: #222222;
  border: 2px solid #2d2d2d;
  color: white;
  padding: .25em 1em;
  margin:  .25em 0;
  border-radius: .25em;
}

.history-button {
  cursor: pointer;
  transition: background .25s;
}

.history-button:hover {
  background: #2d2d2d;
}